:root {
  --primary-bg: rgb(10, 10, 10);
  --secondary-bg: rgb(20, 20, 20);
  --primary-border: rgb(100, 100, 100);
  --primary-color: #008b85;
  --primary-hover: #007771;
  --primary-shadow: #008b85;
  --primary-text: white;
  --secondary-text: rgb(200, 200, 200);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--primary-bg);
}

.wrap {
  padding: 30px 100px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.panel {
  background-color: var(--secondary-bg);
  border-radius: 15px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 15px;
  height: 130px;
}

.date {
  display: flex;
  gap: 15px;
  align-items: center;
}

.day {
  font-size: 20px;
}

.time,
.date,
.day,
.time-seconds {
  font-family: "Orbitron", sans-serif;
  color: var(--secondary-text);
}

.time {
  font-size: 30px;
  font-weight: 500;
  color: var(--primary-text);
}

.time-seconds {
  font-size: 18px;
  font-weight: normal;
  color: var(--primary-text);
}

.weather-city {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-text);
}

.weather-content {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.weather-img {
  height: 50px;
}

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 45%;
}

.weather-numbers {
  display: flex;
  color: var(--primary-text);
  font-weight: bold;
  justify-content: space-between;
  font-size: 25px;
  width: 100%;
}

.weather-numbers span:first-child {
  cursor: pointer;
}

.weather-description {
  text-align: center;
  color: var(--secondary-text);
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: calc(100% - 700px);
}

.hero-title {
  color: var(--primary-text);
  font-size: 40px;
  text-align: center;
}

.hero-quote {
  color: var(--secondary-text);
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  width: 80%;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.widget {
  background-color: var(--secondary-bg);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  width: 300px;
  height: 200px;
  overflow: auto;
}

.task-widget {
  position: relative;
}

.chat-prompt,
.chat-response {
  color: var(--secondary-text);
  background-color: var(--primary-hover);
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  align-self: end;
  max-width: 240px;
}

.chat-response {
  align-self: start;
  background-color: var(--primary-bg);
}

.task-items {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 130px;
  gap: 5px;
  position: absolute;
  left: 5px;
  width: 295px;
  padding-inline: 10px 5px;
  overflow-x: hidden;
}

.task-items::-webkit-scrollbar-thumb {
  border-color: var(--secondary-bg);
}

.task-item {
  background-color: var(--primary-bg);
  color: var(--secondary-text);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.task-item img {
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.task-item img:last-child {
  position: absolute;
  right: 10px;
}

.task-input {
  background-color: var(--secondary-bg);
  border: 1px solid var(--primary-border);
  border-radius: 10px;
  font-size: 18px;
  padding: 5px 10px;
  outline: none;
  color: var(--primary-text);
  position: absolute;
  bottom: 10px;
  width: 270px;
}

.task-input::placeholder {
  font-size: 15px;
  font-style: italic;
}

.message {
  color: var(--secondary-text);
  text-align: center;
  line-height: 25px;
  width: 90%;
  margin-inline: auto;
}

.command-bar {
  width: 100%;
  border: 2px solid var(--primary-color);
  background-color: var(--primary-bg);
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s ease;
  margin-block: 30px;
}

.command-bar:has(.command-input:focus) {
  box-shadow: 0px 0px 10px var(--primary-shadow);
}

.command-input {
  width: 100%;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  font-size: 20px;
  outline: none;
  padding: 15px 30px;
  border: none;
}

.command-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: background-color 0.3s ease;
  border: none;
}

.command-icon:hover {
  background-color: var(--primary-hover);
}

.typing {
  animation: breathe 0.8s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes breathe {
  0% {
    box-shadow: 0px 0px 10px var(--primary-shadow);
    transform: scale(1);
  }
  40% {
    box-shadow: 0px 0px 5px 5px var(--primary-color);
  }
  100% {
    box-shadow: 0px 0px 10px var(--primary-shadow);
    transform: scale(1);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-text);
  border-radius: 10px;
  border: 3px solid var(--primary-bg);
}
